{% extends "main.html" %}
{% block title %} {{ event.name }} {% endblock %}
{% block content %}
    <h1>{{ event.name }}</h1>
    {{ startDate }} to {{ endDate }}
    <h2>Teams</h2>
    <ul>
    {%  for team in teams %}
        <li> {{ team }} </li>
    {% endfor %}
    </ul>

    <h2>Schedule</h2>
    <table>
        <tr>
            <th>Match</th>
            <th>Time</th>
            <th>Red Teams</th>
            <th>Blue Teams</th>
            <th>Red Score</th>
            <th>Blue Score</th>
        </tr>
        {% for match in matches %}
            <tr>
                <td>{{ match.phase }} {{match.nbr}}</td>
                <td>{{match.scheduled_time}}</td>
                <td>{{match.redTeam1}} and {{match.redTeam2}}</td>
                <td>{{match.blueTeam1}} and {{match.blueTeam2}}</td>
                <td>{{match.redScore}}</td>
                <td>{{match.blueScore}}</td>
            </tr>
        {% endfor %}
    </table>

    <h2>Event Administration</h2>
    <ul>
        <li><a href="/event/{{ event.code }}/scheduler">Match Scheduler</a></li>
    </ul>

{% endblock %}