{% extends "main.html" %}
{% load static %}
{% block title %} {{ eventCode }} Scheduler {% endblock %}
{% block content %}
    <script src="/static/moment.js"></script>
    <script src="/static/scheduler.js">
    </script>

    <p>Number of teams: <span id="numTeams">{{ numTeams }}</span></p>

    {% if currentMatches != 0 and playedMatches != 0 %}
        <h2>Warning: There are already scores posted for qualification matches!</h2>
        <h3><i>Generating the schedule will result in these matches and scores being lost.</i></h3>
        {% elif currentMatches != 0 %}
        <h2>Warning: A schedule has already been generated!</h2>
        <h3><i>Generating the schedule will result in the existing schedule being lost. </i></h3>
    {% endif %}

<form  method = "post">
    {% csrf_token %}
    {{ form.as_table }}
    <input type = "submit" value = "Build Schedule" >
</form>

    <script>
        const rounds = document.getElementById("id_rounds");
        const cycletime = document.getElementById("id_cycleTime");
        const startTime = document.getElementById("id_startTime");
        rounds.addEventListener("keyup", previewSchedule)
        cycletime.addEventListener("keyup", previewSchedule)
        startTime.addEventListener("keyup", previewSchedule)
    </script>

    <div id="preview">

    </div>

{% block response %}
{% endblock %}
{% endblock %}