{% extends "main.html" %}
{% load static %}
{% block title %} {{ eventCode }} Scheduler {% endblock %}
{% block content %}
    <script src="/static/moment.js"></script>
    <script src="/static/scheduler.js">
    </script>

    <p>Number of teams: <span id="numTeams">{{ numTeams }}</span></p>
<form  method = "post">
    {% csrf_token %}
    {{ form.as_table }}
    <input type = "submit" value = "Build Schedule" >
</form>

    <script>
        const rounds = document.getElementById("id_rounds");
        const cycletime = document.getElementById("id_cycleTime");
        const startTime = document.getElementById("id_startTime");
        rounds.addEventListener("keyup", previewSchedule)
        cycletime.addEventListener("keyup", previewSchedule)
        startTime.addEventListener("keyup", previewSchedule)
    </script>

    <div id="preview">

    </div>

{% block response %}
{% endblock %}
{% endblock %}